In [37]:
import pandas as pd


data = pd.read_csv("train.csv")

#print data.head(3)

print data[0:1]['Cabin']




# print type(data.values)

#print data.describe()
#print "hello:{}".format (data.values.dtype)

#print data[0:3]["Survived"]

print data.iat[0,3]


data.iloc[0:2,:]

0    NaN
Name: Cabin, dtype: object
Braund, Mr. Owen Harris

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [1]:
pwd

u'/home/lrh/program/git/kaggle/Titanic'